<%- div_for service do -%>
    
    <h2>
        <%= link_to h(service.name), service_path(service) %>
    </h2>
    
    <div class="description">
        <%= textilize service.description.short %>
    </div>
    
<%- end -%>
