<%- title h(@service.name) %>

<%= services_contextual_menu @service %>

<div class="split">

    <div class="sidebar">
        <%= render "shared/requisite_info" %>
        <%= render "shared/sidebar_links" %>
    </div>
    
    <div class="content">
        <div class="description">
            <%= textilize @service.description.full %>
        </div>
    </div>
    
</div>
