<div class="block alert">
    <p class="header">
        <%= t ".header" %>
    </p>
    
    <%= textilize t(".content") %>
    
    <p class="footer">
        <%= t ".footer", :link => requisite_path %>
    </p>
</div>
