<div class="reshift">
    <table class="order_submit">
        <tr>
            <td class="totals">
                <%= render "order_form_totals" %>
            </td>
            <td class="controls">
                <%= f.submit t(".commit"), :id => nil, :name => nil %>
            </td>
        </tr>
    </table>
</div>
