<div class="reshift">
    <table class="order_submit">
        <tr>
            <td class="totals">
                <%= render "order_form_totals" %>
            </td>
            <td class="controls">
                <div class="offer">
                    <%= f.check_box :accept_offer %>
                    <%= textilize t(:offer, :scope => [:orders, :order_form]) %>
                </div>
                <%= f.submit t(".commit"), :id => nil, :name => nil %>
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        document.observe("dom:loaded", function(e) {

            var submit = $$('#order_form input[type=submit]')[0];
            var offer  = $$('#order_form input[type=checkbox]#infosell_order_accept_offer')[0];

            toggle_submit = function () {
                if($(offer).checked) $(submit).enable();
                else $(submit).disable();
            };

            toggle_submit();

            $(offer).on('change', function(e) { toggle_submit() });
            $(offer).on('click',  function(e) { toggle_submit() });

        });
    </script>

</div>
