<%- div_for infosell_resource, :class => :resource do -%>

    <div class="header">
        <%= link_to h(infosell_resource.name), admin_infosell_resources_relation_path(infosell_resource) %>
    </div>
    <small><%= h(infosell_resource.code) %></small>
    
<%- end -%>
